.bodystyle
{
    height: 100vh; 
    background-color:black;
    border: 10px ridge red; 
    padding:20px;
    font-weight: bolder;
    overflow-y: scroll;
    overflow-x: scroll;
}
.tabstyle
{
    height: 90vh;
    background-color:blue;
    border-radius: 40px; 
    padding:20px;
    box-shadow: 3px 3px gray;
    
}

